<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.jmom.apps.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".JMomApplication">
        <activity
            android:name=".ui.InitActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.discovery.CreateAccountActivity"
                android:label="Configure JMom"/>
        <activity
                android:name=".ui.discovery.CreateResidenceActivity"
                android:label="Configure JMom"/>
        <activity
                android:name=".ui.BrowseLocationActivity"
                android:label="@string/app_name"/>
        <activity
                android:name=".ui.AddOrEditLocationActivity"
                android:label="Add location"
                android:parentActivityName=".ui.BrowseLocationActivity" />


        <service
                android:name="org.jmom.apps.android.geofencing.GeofencingReceiver"
                android:exported="true"
                android:label="@string/app_name" >
        </service>

    </application>

</manifest>
